#sigin {
    border-radius: 50px;
    border: solid 0.5px #8d8d8d;
    background-color: rgba(178, 177, 177, 0.25);
    width: 37vw;
    min-height: 64vh;
    margin-left: 31.5vw;
    margin-top: 9vh;
}

#sigin img {
    width: 6.5vw;
    margin-left: 15.25vw;
    position: relative;
    bottom: 5.8vh;
}

#sigin h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    position: relative;
    bottom: 3vh;
}

form {
    margin-top: 3.5vh;
}

.field {
    width: 27vw;
    margin-left: 5vw;
    background-color: #fff;
    min-height: 5.3vh;
    margin-bottom: 4.5vh;
    border-radius: 10px;
}

.field i{
    font-size: 40px;
    margin-left: 0.6vw;
    margin-top: 4.62px;
}

.field input {
    height: 5.1vh;
    font-size: 30px;
    font-weight: 300;
    border: none;
    padding: 0;
    position: relative;
    bottom: 0.31vh;
    margin-left: 1vw;
    width: 85%;
}

span {
    text-align: center;
    color: red;
    display: block;
}

#submit {
    font-size: 35px;
    border-radius: 10px;
    background-color: #ff3a3a;
    color: #fff;
    border: none;
    width: 27vw;
    margin-left: 5vw;
    height: 6vh;
    margin-top: 3.5vh;
    cursor: pointer;
}

#links {
    margin-left: 36.5vw;
    width: 27vw;
    font-size: 24px;
    font-weight: 400;
    margin-top: 2vh;
}

#links a {
    color: #000;
}

#register {
    float: right;
    text-decoration: underline;
}

body {
    overflow: hidden;
}

@keyframes left {
    0% {
        transform: translate(100%);
    }
    
    100% {
        transform: translate(0);
    }
}

#for_animation {
    animation-name: left;
    animation-duration: 2s; 
}

@keyframes later {
    0% {
        left: 100%;
        transform: rotate(180deg);
    }
    
    100% {
        left: 0;
        transform: rotate(0);
    }
}

#sigin img {
    left: 100%;
    animation-name: later;
    animation-duration: 2s; 
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 1300px) {
    #sigin {
        margin: 0;
        margin-left: 2vw;
        margin-top: 8vh;
        width: 96vw;
    }

    #sigin img {
        bottom: 5.9vh;
        width: 21vw;
        margin-left: 37.5vw;
    }

    #sigin h1 {
        font-size: 40px;
        bottom: 4vh;
    }

    .field {
        width: 80vw;
        margin-left: 8vw;
        min-height: 37px;
    }

    .field i {
        font-size: 20px;
        margin-left: 2.5vw;
        margin-top: 8.5px;
    }

    .field input {
        font-size: 18px;
        bottom: 0;
        margin-left: 3vw;
        width: 80%;
    }

    #submit {
        font-size: 25px;
        width: 80vw;
        margin-left: 8vw;
    }

    #links {
         margin-left: 10vw;
         width: 80vw;
         margin-bottom: 5vh;
    }

    #links a {
        font-size: 15px;
    }

    #register {
        margin-top: 1vh;
    }

    span {
        font-size: 10px;
    }
}

@media screen and (max-height: 500px) {
    #sigin {
        height: 90vh;
    }
}
