@keyframes appear {
    0% {
        transform: translate(0, 2vh);
        opacity: 0.5;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

#title h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 1vh;

    animation-name: appear;
    animation-duration: 1s;
}

#title h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);

    animation-name: appear;
    animation-duration: 1s;
}

@keyframes img {
    0% {
        transform: translate(40vw) rotate(180deg);
        opacity: 0;
    } 
    100% {
        transform: translate(0) rotate(0);
        opacity: 1;
    }
}

#title img {
    width: 7.5vw;
    height: auto;
    margin-left: 46.25vw;
    margin-top: 5vh;

    animation-name: img;
    animation-duration: 2s;
}

#grid {
    margin-top: 6vh;
    width: 70vw;
    margin-left: 15vw;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: repeat(6, 5.5vh);
    row-gap: 1.5vh;
}

h3, h4, #plataform {
    font-size: 30px;
    font-weight: 800;
}

@keyframes cost {
    0% {
        transform: translate(-10vw);
        opacity: 0.2;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

.cost {
    grid-column: 1; 

    transform: translate(-10vw);
    opacity: 0;
    animation-name: cost;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.aaa {
    animation-delay: 0.1s;
}

.bbb {
    animation-delay: 0.2s;
}

.ccc {
    animation-delay: 0.3s;
}

.ddd {
    animation-delay: 0.4s;
}

.eee {
    animation-delay: 0.5s;
}

.cost h5 {
    font-size: 20px;
    font-weight: 500;
}

.cost h6 {
    font-size: 20px;
    font-weight: 500;
    color: #9f9f9f;
    margin-top: 0.2vh;
}

#grid p {
    font-size: 20px;
    font-weight: 400;
    width: 90%;
    text-align: justify;
}

@keyframes patreon {
    0% {
        transform: translate(10vw);
        opacity: 0.2;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

#grid a {
    font-size: 25px;
    color: #ff3a3a;
    font-weight: 500;
    text-decoration: none;

    transform: translate(-10vw);
    opacity: 0;
    animation-name: patreon;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#button_container {
    margin-top: 9.5vh;
    width: 70vw;
    margin-left: 15vw;
    margin-bottom: 5vh;
}

#button_container div {
    width: 28vw;
    display: inline-block;
}

#button_container div h4 {
    font-size: 40px;
    font-weight: 500;
}

#button_container div p {
    width: 26vw;
    text-align: justify;
    margin-top: 2vh;
}

#button_container button {
    height: 8vh;
    width: 40vw;
    float: right;
    font-size: 45px;
    color: #fff;
    background-color: #ff3a3a;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 4vh;
}

@media screen and (max-width:1340px) {
    #title img{
        width: 18vw;
        margin-left: 41vw;
        margin-top: 4vh;
    }

    #title h1 {
        font-size: 22px;
    }

    #title h2 {
        font-size: 15px;
    }

    #grid {
        margin-top: 4vh;
        width: 90vw;
        margin-left: 5vw;
        grid-template-rows: repeat(6, 7vh);
    }

    
    h3, h4, #plataform {
        font-size: 15px;
        font-weight: 800;
    }

    #plataform {
        position: relative;
        right: 5vw;
    }

    .cost h5, .cost h6 {
        font-size: 12px;
    }

    #grid p {
        font-size: 9px;
        width: 95%;
    }

    #grid a {
        font-size: 12px;
        text-align: right;
    }

    #button_container {
        width: 90vw;
        margin-left: 5vw;
    }

    #button_container div {
        width: 50%;
    }

    #button_container div h4 {
        font-size: 15px;
    }

    #button_container div p {
        font-size: 9px;
        width: 90%;
    }

    #button_container button {
        font-size: 15px;
        margin-top: 7vh;
    }
}