* {
    font-family: 'Sora', sans-serif;
}

body {
    overflow-x: hidden;
}

#grid_all {
    display: grid;
    grid-template-columns: 72vw, 28vw;
}

#all_info {
    width: 70vw;
    display: inline-block;
    margin-top: 4vh;
    margin-left: 2vw;
    grid-column: 1;
}

#all_info h1{
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 3vh;
}

span {
    display: none;
}

#map_container {
    display: grid;
    grid-template-columns: 30vw, 39vw;
}

#map {
    width: 30vw;
    height: 37vh;
    display: inline-block;
    grid-column: 1;
}

#map_container p {
    display: inline-block;
    width: 37vw;
    text-align: justify;
    margin-left: 2vw;
    grid-column: 2;
    font-size: 22px;
}

#go {
    margin-top: 4vh;
}

@keyframes moveRigth{
    0% {
        right: 20vw;
    }

    100% {
        right: 0;
    }
}

#go a {
    transition: font-size 1s;
    cursor: pointer;
    position: relative;

    animation-name: moveRigth;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

#go a:hover {
    font-size: 80px;
}

#go a i {
    font-size: 60px;
    color:#ff3a3a;
}

#go a h4 {
    font-size: 50px;
    font-weight: 300;
    display: inline-block;
    margin-left: 1vw;
    position: relative;
    bottom: 0.6vh;
}

#category {
    font-size: 40px;
    float: right;
}

#recomedations p {
    margin-top: 2.5vh;
    font-size: 20px;
    text-align: justify;
}

#organization_info {
    display: inline-block;
    background-color: #ff3a3a;
    width: 22vw;
    height: 81vh;
    margin-left: 3vw;
    margin-top: 4vh;
    grid-column: 2;
}

#organization_info h3 {
    font-size: 40px;
    color: #ffffff;
    margin-top: 3vh;
    text-align: center;
    font-weight: 600;
}

#organization_info img {
    width: 9vw;
    height: 16vh;
    object-fit: contain;
    object-position: center;
    margin-left: 6.5vw;
    margin-top: 4vh;
}

#organization_info i {
    position: absolute;
    color: #fff;
    font-size: 20px;
}

#org_descrp {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}

#org_info {
    margin-left: 2vw;
    width: 18vw;
    margin-top: 5vh;
}


#org_quote {
    margin-top: 2.5vh;
    font-size: 25px;
    text-align: justify;
    color: #ffffff;
    opacity: 0.8;
    letter-spacing: 6px;
}

#images {
    margin-top: 10vh;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    position: absolute;
    left: 0vw;
}

.slice {
    height: 35vh;
    width: 30vw;
    object-fit: cover;
    
}

@media screen and (max-width: 1300px) {

    #grid_all {
        display: block;
    }

    #all_info {
        margin: 0;
        margin-left: 5vw;
        margin-top: 2.5vh;
        width: 90vw;
    }

    #all_info h1 {
        font-size: 20px;
    }

    #map_container {
        display: block;
    }

    #map {
        display: block;
        width: 100%;
        height: 20vh;
    }

    #map_container p {
        font-size: 11px;
        display: block;
        width: 100%;
        margin: 0;
        margin-top: 2.5vh;
    }

    #go a:hover {
        font-size: 40px;
    }

    #go a i {
        font-size: 40px;
    }

    #go a h4 {
        font-size: 25px;
        bottom: 1vh;
    }

    #category {
        float: none;
        font-size: 20px;
        margin-top: 4vh;
    }

    #recomedations p {
        font-size: 10px;
    }

    #organization_info {
        display: block;
        width: 100%;
        margin: 0;
        margin-top: 3vh;
        height: 56vh;
    } 
    
    #organization_info h3 {
        font-size: 25px;
        padding-top: 3vh;
    }

    #organization_info img {
        width: 22.4vw;
        height: 12.6vh;
        margin: 0;
        margin-top: 3vh;
        margin-left: 38.8vw;
    }

    #frist {
        display: none;
    }

    #org_info {
        width: 90%;
        margin-left: 5%;
    }

    #org_descrp {
        font-size: 11px;
        display: block;
    }

    #org_quote {
        font-size: 15px;
    }

    #images {
        display: none;
    }
}