#grid {
    display: grid;
    grid-template-columns: 70vw, 30vw;
}

body {
    overflow-x: hidden;
}

#react {
    grid-column: 1;
    margin-top: 3.5vh;
    width: 68vw;
    margin-left: 2vw;
}

#searchBar input{
    background-color: #fff;
    border: 2px solid #ff3a3a;
    border-radius: 50px;
    display: inline-block;
    width: 60vw;
    height: 4vh;
    font-size: 30px;
    color: #000;
    padding-left: 1.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    font-family: 'Sora', sans-serif;
}

#searchBar input::placeholder {
    color: #b8b8b8;
}

#searchBar i {
    font-size: 4vh;
    margin-left: 1.5vw;
    position: relative;
    color: #fff;
    top: 0.5vh;
}

#search_container {
    display: inline-block;
    position: relative;
    right: 5vw;
    background-color: #ff3a3a;
    height: 5.2vh;
    bottom: 0.1vh;
    width: 4.93vw;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

#results {
    margin-top: 5vh;
}

.result {
    font-family: 'Sora', sans-serif;
    color: #000;
    text-decoration: none;
}

.result div {
    margin-bottom: 2.5vh;
}

.result h4 {
    font-size: 35px;
    font-weight: 500;
}

.result h6 {
    font-size: 25px;
    font-weight: 300;
}

#info {
    grid-column: 2;
    margin-top: 3.5vh;
}


@keyframes fromLeft {
    from {
        left: 10vw;
    }
    to {
        left: 0;
    }
}
 
#info p {
    width: 20vw;
    text-align: justify;
    font-size: 27px;
    font-weight: 200;
    font-family: 'Sora', sans-serif;

    position: relative;
    animation-name: fromLeft;
    animation-duration: 2s;
}


#info div {
    background-color: #ff3a3a;
    width: 20vw;
    height: 27vh;
    border-radius: 32px;
    margin-top: 5vh;

}

@keyframes fromLeftImg {
    0% {
        left: 20vw;
        transform: rotate(180deg);
    }
    100% {
        left: 0;
        transform: rotate(0);
    }
}

@keyframes fromLeftImgResponsive {
    0% {
        left: 50vw;
        transform: rotate(180deg);
    }
    100% {
        left: 0;
        transform: rotate(0);
    }
}


#info div img {
    width: 12vw;
    margin: auto;
    margin-left: 4vw;
    margin-top: 1.8vh;
    position: relative;
    left: 20vw;

    animation-name: fromLeftImg;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 1000px) {
    #grid {
        display: block;
    }
    #react {
        display: block;
    }
    #searchBar {
        width: 100vw;
        display: block;
    }

    #searchBar input {
        width: 75vw;
        height: 28px;
        font-size: 11px;
        margin-left: 2.5vw;
        padding-left: 3vw;
        display: inline-block;
    }

    #searchBar i {
        display: inline-block;
        font-size: 20px;
        top: 1vh;
        left: 1vw;
    }

    #search_container {
        width: 12vw;
        right: 12vw;
        bottom: 0.8vh;
        height: 38px;
    }


    .result div {
        margin-left: 2.5vw;
        width: 95vw;
    }

    .result h4 {
        font-size: 20px;
    }

    .result h6 {
        font-size: 12px;
    }

    #info {
        margin-left: 2.5vw;
        width: 95vw;
        margin-right: 0;
        display: grid;
        grid-template-columns: 47vw, 48vw;
    }

    #info p {
        width: 47vw;
        font-size: 10px;
        display: inline-block;
        height: 22vh;
        grid-column: 1;
        animation: none;
    }

    #info div {
        display: inline-block;
        width: 39vw;
        height: 22vh;
        grid-column: 2;
        margin: 0;
    }

    #info div img {
        width: 25.5vw;
        margin-left: 7vw;
        margin-top: 3.83vh;
        left: 50vw;
        animation-name: fromLeftImgResponsive;
    }
}

@media screen and (max-height: 500px) {
    #info div {
        height: 30vh;
    }

    #search_container {
        height: 34px;
    }
}