<!DOCTYPE html>
{% load static %}
<html lang="es">
    <head>
        <title>Panel de Control</title>
        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <script src="https://kit.fontawesome.com/7c5129238c.js" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        
        <link href="{% static 'control/css/index.css' %}" rel="stylesheet">

        <meta name="robots" content="noindex" />
    </head>
    <body>
        <div id="react"></div>
        {% csrf_token %}
        <script src="{% static 'control/javascript/index.js' %}" type="text/babel"></script>
    </body>
</html>