{% extends 'maps/nav.html' %}
{% load static %}
  
    {% block head %}
        <title>Cuenta: {{user.username}}</title>
        <script src="{% static 'control/javascript/mapbox-gl.js' %}"></script>
        <link href="{% static 'control/css/mapbox-gl.css' %}" rel='stylesheet' />

        <link href="{% static 'login/css/account.css' %}" rel="stylesheet">
    {% endblock %}
     
    {% block content %}
        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div id='info'>
                <div id="title_container">
                    <h1>{{user.username}}</h1>
                    {{form.username}}
                    {{form.username.errors}}
                    <span>{{error}}</span>
                    <a href="{% url 'ranking' %}"><h2>#{{index}}</h2></a>
                    <div id="dark_mode">
                        <i class="far fa-moon"></i>
                        <i class="fas fa-circle" id="dark_circle"></i>
                        <i class="far fa-sun" id="sun"></i>
                    </div>
                </div>
                <div id="info_info">
                    <div id="email_container">
                        <h3>Email:</h3>
                        <h4 id="h4">{{user.email}}</h4>
                        {{form.email}}
                        {{form.email.errors}}
                    </div>
                    <div>
                        <h5 id="coordinates_title">Coordenadas:</h5>
                        <h5 id="cordiantes">
                            <span id="latitude">{{user.latitude}}</span>
                            {{form.latitude}} 
                            <span>-</span> 
                            <span id="longitude">{{user.longitude}}</span>
                            {{form.longitude}}
                        </h5>
                        {{form.latitude.errors}}
                        {{form.longitude.errors}}
                        <p id="security"><i class="fas fa-lock"></i>Solo tu puedes ver esto</p>
                    </div>
                </div>
                <img src="{% static 'login/images/account.png' %}" alt='person' id="person">
                <div>
                    <h6 id="where">Donde ayudaste:</h6>
                    <div id="map"></div>
                </div>

            </div>
            <div id="links">
                <div id="img_container">
                    {% if request.user.photo %}
                        <img src="{{request.user.photo.url}}" alt="account" id="account_photo">
                    {% else %}
                        <img src="{% static 'maps/images/logo_small_icon_only_inverted.png' %}" alt="account" id="account_prede">
                    {% endif %}
                    {{form.photo}}
                    {{form.photo.errors}}
                </div>

                <div id="links_links">
                    <a id="change">Cambiar Info.</a>
                    <a href="{% url 'password' 1 %}">Cambiar Contraseña</a>
                    <a href="https://api.whatsapp.com/send?phone=573023986488">Atención al cliente</a>
                    <a href="{% url 'ranking' %}">Ver Ranking</a>
                    <a class="danger" href="{% url 'password' 2 %}">Eliminar Cuenta</a>
                    <a id="report" class="danger" href="{% url 'report' %}">Reportar otra cuenta u organización</a>
                </div>
            </div>
        </form>
        <div id="achiv">
            <div class="category">
                <h6>Consigue 1.000 Puntos</h6>
                <div class="bar">
                    <div class="progress" data-type="p" data-quantity="1000"></div>
                    <h6 class="number_progress"></h6>
                </div>
            </div>
            <div class="category">
                <h6>Visitar 10 Lugares</h6>
                <div class="bar">
                    <div class="progress" data-type="l" data-quantity="10"></div>
                    <h6 class="number_progress"></h6>
                </div>
            </div>
            <div class="category">
                <h6>Visitar 5 Voluntariados</h6>
                <div class="bar">
                    <div class="progress" data-type="v" data-quantity="5"></div>
                    <h6 class="number_progress"></h6>
                </div>
            </div>
            <div class="category">
                <h6 >Visitar 5 Donaciones</h6>
                <div class="bar">
                    <div class="progress" data-type="d" data-quantity="5"></div>
                    <h6 class="number_progress"></h6>
                </div>
            </div>
            <div class="category">
                <h6>Realizar 50 Comentarios</h6>
                <div class="bar">
                    <div class="progress" data-type="c" data-quantity="50"></div>
                    <h6 class="number_progress"></h6>
                </div>
            </div>
            <div class="category">
                <h6>Pon una foto de perfil</h6>
                <div class="bar">
                    <div class="progress" data-type="pr"></div>
                    <h6 class="number_progress"></h6>
                </div>
            </div>
            <div class="category">
                <h6>Consigue 5.000 Puntos</h6>
                <div class="bar">
                    <div class="progress" data-type="p" data-quantity="5000"></div>
                    <h6 class="number_progress"></h6>
                </div>
            </div>
            <div class="category">
                <h6>Visitar 50 Lugares</h6>
                <div class="bar">
                    <div class="progress" data-type="l" data-quantity="50"></div>
                    <h6 class="number_progress"></h6>
                </div>
            </div>
            <div class="category">
                <h6>Visitar 25 Voluntariados</h6>
                <div class="bar">
                    <div class="progress" data-type="v" data-quantity="25"></div>
                    <h6 class="number_progress"></h6>
                </div>
            </div>
            <div class="category">
                <h6>Visitar 25 Donaciones</h6>
                <div class="bar">
                    <div class="progress" data-type="d" data-quantity="25"></div>
                    <h6 class="number_progress"></h6>
                </div>
            </div>
        </div>
        <div id="info-bars" style="display: none;">
            <span id="p">{{user.points}}</span>
            <span id="l">{{user.visited.all | length }}</span>
            <span id="v">{{volunteer}}</span>
            <span id="d">{{donate}}</span>
            <span id="c">{{comments}}</span>
            <span id="pr">{{user.photo}}</span>
        </div>
        <script src="{% static 'login/javascript/account.js' %}"></script>
    {% endblock %}
  