{% extends 'maps/nav.html' %}
{% load static %}
  
{% block head %}
    <title>Ranking de Puntos</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="{% static 'login/css/ranking.css' %}" rel="stylesheet">
{% endblock %}
    
{% block content %}
    <div>
        <h1>Ranking: Personas con más Puntos</h1>
        <div id='superior_grid'>
            <div id='frist_place' class="place">
                <i class="fas fa-medal"></i>
                <h2><a href="{% url 'another' frist.0.username%}">{{frist.0.username}}</a></h2>
                <span>{{frist.0.points}} Points</span>
            </div>
            <div id='second_place' class="other_place place">
                <i class="fas fa-medal"></i>
                <h3><a href="{% url 'another' frist.1.username%}">{{frist.1.username}}</a></h3>
                <span>{{frist.1.points}} Points</span>
            </div>
            <div id='third_place' class="other_place place">
                <i class="fas fa-medal"></i>
                <h4><a href="{% url 'another' frist.2.username%}">{{frist.2.username}}</a></h4>
                <span>{{frist.2.points}} Points</span>
            </div>
        </div>
        {% csrf_token %}
        <div id='mayor'>
            <div id='headers'>
                <h4>Posición</h4>
                <h4>Usuario</h4>
                <h4>Puntos</h4>
            </div>
        </div>
        <span id="ranking" style="display: none;">{{ranking}}</span>
        <span id="username" style="display: none;">{{request.user.username}}</span>
        <script src="{% static 'login/javascript/ranking.js' %}"></script>
    </div>
{% endblock %}
