{% extends 'maps/nav.html' %}
{% load static %}
  
{% block head %}
    <title>Registrarse | Small Actions</title>
    <link href="{% static 'login/css/register.css' %}" rel="stylesheet">
{% endblock %}
    
{% block content %}
    <div id="all_for">
        <h1>Crear Cuenta</h1>
        <span>{{error}}</span>
        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div id="grid">
                <div class="input_container">
                    <i class="fas fa-user-circle"></i>
                    {{form.username}}
                    <span>{{form.username.errors}}</span>
                </div>
                <div class="input_container">
                    <i class="fas fa-envelope"></i>
                    {{form.email}}
                    <span>{{form.email.errors}}</span>
                </div>
                <div class="input_container">
                    <i class="fas fa-lock"></i>
                    {{form.password}}
                    <span>{{form.password.errors}}</span>
                </div>
                <div class="input_container">
                    <i class="fas fa-redo"></i>
                    {{form.repeat_password}}
                    <span>{{form.repeat_password.errors}}</span>
                </div>
            </div>
            
            <div id="optional_super">
                <div class="optional_container">
                    <h3>Coordenadas</h3>
                    <div id="lat_long">
                        {{form.latitude}}
                        <span>{{form.latitude.errors}}</span>
                        {{form.longitude}}
                        <span>{{form.longitude.errors}}</span>
                    </div>
                    <p>Esto es opcional, nosotros no queremos rastrearte, entonces, para tener una experiencia personalizada, por favor ingresa tu coordenadas. Nosotros garantizamos que nadie las verá.</p>
                </div>
                <div class="optional_container" id="rigth_opt">
                    <h3>Foto de perfil:</h3>
                    {{form.photo}}
                    <span>{{form.photo.errors}}</span>
                    <p>Esto es opcional, la foto puede que sea mostrada al público.</p>
                </div>
            </div>

            <input type="submit" value="Registrarse">
        </form>
    </div>
{% endblock %}
