<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'login/css/passwords.css' %}" rel="stylesheet">
        <title>Por favor, Ingresa tu contraseña</title>
    </head>
    <body>
        <div>
            <h1>Por favor, Ingresa tu contraseña</h1>
            <h2>{{error}}</h2>
            <form method="POST"> {% csrf_token %}
                {{form.password}}
                {{form.password.erros}}
                <input type="submit" value="Continuar">
            </form>
        </div>
    </body>
</html>