<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static 'login/css/passwords.css' %}" rel="stylesheet">
        <title>Please Enter Your Password</title>
    </head>
    <body>
        <div>
            <h1>Please Enter Your Password</h1>
            <h2>{{error}}</h2>
            <form method="POST"> {% csrf_token %}
                {{form.password}}
                {{form.password.erros}}
                <input type="submit" value="Continue">
            </form>
        </div>
    </body>
</html>