<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Reset Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{% static 'login/css/passwords.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1>Enter New Password</h1>
        <h2>{{error}}</h2>
        <form method="POST"> {% csrf_token %}
            {{form.password}}
            {{form.password.error}}
            {{form.repeat_password}}
            {{form.repeat_password.error}}
            <input type="submit" value="Reset">
        </form>
    </body>
</html>