* {
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
}

body {
    background-color: #ff3a3a;
}

#navigation h1 {
    margin-top: 2vh;
    margin-left: 2vw;
    font-size: 60px;
    color: #fff;
}

#navigation nav {
    background-color: #fff;
    margin-top: 2vh;
    height: 2.6vh;
    padding-left: 2.2vw;
    padding-top: 0.5vh;
}

#navigation nav a {
    font-size: 17px;
    margin-right: 2vw;
    color: #ff3a3a;
    font-weight: 700;
    cursor: pointer;
}

#places {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 6vh;
}

.place {
    width: 20vw;
    margin-top: 5vh;
    background-color: #fff;
    padding: 1vw;
    border-radius: 10px;
}

.place div img {
    object-fit: cover;
    width: 100%;
    height: 20vh;
    cursor: pointer;
}

.place div h5 {
    font-size: 25px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.conf div {
    display: flex;
    justify-content: space-between;
}

.conf i {
    font-size: 25px;
    cursor: pointer;
}

#popupParent {
    position: absolute;
    top: 0;
    width: 100%;
    height: 500%;
}

#popupDelete, #popupCode {
    background-color: #fff;
    position: sticky;
    width: 50vw;
    height: 50vh;
    left: 25vw;
    top: 25vh;
    z-index: 10;
    border-radius: 40px;
}

#popupCode {
    height: 80vh;
    top: 10vh;
}

#background {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#popupDelete h3 {
    font-size: 40px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    padding-top: 5vh;
}

#popupDelete button {
    width: 80%;
    margin-left: 10%;
    font-size: 25px;
    border-radius: 30px;
    outline: none;
    padding: 0.5vh 0;
    cursor: pointer;
}

#buttonYes { 
    border: 3px solid #ff3a3a;
    background-color: #fff;
    color: #ff3a3a;
    margin-top: 10vh;
}

#buttonNo {
    color: #fff;
    background-color: #ff3a3a;
    border: none;
    margin-top: 5vh;
}

#superiorInfo {
    width: 95vw;
    margin-left: 2vw;

    display: flex;
    justify-content: space-between;
}

#add {
    width: 15vw;
    padding: 5px 0;
    background-color: #fff;
    color: #ff3a3a;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    margin-top: 4vh;
    cursor: pointer;
}

#searchBar {
    width: 70%;
    margin-top: 4vh;
    font-size: 25px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 5px 2vw;
}

#map {
    width: 100%;
    height: 40vh;
}

#createTitle {
    margin-top: 5vh;
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
}

#newPlace {
    width: 80vw;
    margin-left: 10vw;
}

#newPlace label, input {
    display: block;
}

#newPlace label {
    font-size: 25px;
    color: #fff;
    margin-top: 3vh;
    margin-bottom: 1vh;
}

#newPlace input, #newPlace textarea, #newPlace select {
    width: 100%;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    outline: none;
    padding: 0.5vh 1vw;
}

#newPlace #map input {
    padding: 6px 35px;
}

#newPlace textarea {
    height: 20vh;
    padding-top: 1.5vh;
    resize: none;
}

#photos, #selectCategory {
    display: flex;
    justify-content: space-between;
}

#photos a {
    font-size: 15px;
    color: #fff;
}

#newPlace #selectCategory div {
    width: 40%;
}

#newPlace h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    margin-top: 3vh;
    margin-bottom: 1vh;
}

#newPlace h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

#newPlace input[type="submit"] {
    background-color: #ff3a3a;
    color: #fff;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 2px solid #fff;
    cursor: pointer;
}

#newPlace h6 {
    font-size: 35px;
    color: #fff;
}

#notifications {
    overflow-y: auto;
    height: 40vh;
}

#popupCode > h5 {
    text-align: center;
    font-size: 35px;
    padding-top: 5vh;
    font-weight: 400;
}

#popupCode h1 {
    font-size: 100px;
    text-align: center;
    margin-top: 2vh;
    font-weight: 900;
}

#closePop {
    display: block;
    width: 100%;
    font-size: 30px;
    text-align: right;
    position: relative;
    right: 1.5vw;
    top: 2vh;
    cursor: pointer;
}

#popUpInfo {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: 2vh;
}

#popUpInfo i {
    padding-right: 0.5vw;
    cursor: pointer;
}

.notify {
    display: flex;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 3vh;
}

.notify img {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    border-radius: 50%;
}

.notify h5 {
    flex-grow: 4;
    font-size: 30px;
    padding-left: 2vw;
}

.notify i {
    flex-grow: 1;
    font-size: 30px;
    cursor: pointer;
}

#aproved {
    color: rgb(25, 150, 8);
}

#rejected {
    color: #df0909;
}