{% extends 'maps/nav.html' %}
{% load static %}
{% block head %}
    <title>Donar</title>
    <link href="{% static 'maps/css/donate.css' %}" rel="stylesheet">
    <script data-ad-client="ca-pub-4984823830971200" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}
    
{% block content %}
    <div id="title">
        <img src="{% static 'maps/images/logo_small_icon_only_inverted.png' %}">
        <h1>Ayuda a que la página crezca</h1>
        <h2>Con pequeñas acciones</h2>
    </div>
    <div id="grid">
        <h3 class="cost">Costo</h3>
        <h4>Beneficios</h4>
        <h5 id="plataform">Plataforma</h5>
        <div class="cost aaa">
            <h5 class="quantity" data-q="3">$10.000</h6>
            <h6>POR MES</h6>
        </div>
        <p>Gratitud.</p>
        <a href="https://www.patreon.com/smallactions" class="aaa">PATREON</a>
        <div class="cost bbb">
            <h5 class="quantity" data-q="6">$21.000</h5>
            <h6>POR MES</h6>
        </div>
        <p>Gratitud, respondemos todas tus preguntas.</p>
        <a href="https://www.patreon.com/smallactions" class="bbb">PATREON</a>
        <div class="cost ccc">
            <h5 class="quantity" data-q="10">$35.000</h6>
            <h6>POR MES</h6>
        </div>
        <p>Gratitud, respondemos todas tus preguntas, notificaciones de proyectos en desarrollo.</p>
        <a href="https://www.patreon.com/smallactions" class="ccc">PATREON</a>
        <div class="cost ddd">
            <h5 class="quantity" data-q="25">$85.000</h6>
            <h6>POR MES</h6>
        </div>
        <p>Gratitud, respondemos todas tus preguntas, notificaciones de proyectos en desarrollo, llamadas y contacto directo.</p>
        <a href="https://www.patreon.com/smallactions" class="ddd">PATREON</a>
        <div class="cost eee">
            <h5 class="quantity" data-q="100">$300.000</h6>
            <h6>POR MES</h6>
        </div>
        <p>Gratitud, respondemos todas tus preguntas, notificaciones de proyectos en desarrollo, llamadas y contacto directo, +100.000 puntos.</p>
        <a href="https://www.patreon.com/smallactions" class="eee">PATREON</a>
    </div>
    <div id="button_container">
        <div>
            <h4>¿Preparado para ayudar?</h4>
            <p>Con esta pequeña accion estás ayudando a que miles de personas encuentren un sitio amigable para compartir sus buenas intenciones. ¡Eso es tener un gran corazón! Para comenzar, da click en el boton de “hazte mecenas”</p>
        </div>
        <a href="https://www.patreon.com/smallactions"><button>Hazte Mecenas</button></a>
    </div>

{% endblock %}
