{% extends 'maps/nav.html' %}
{% load static %}
  
    {% block head %}
        <title>Go to {{point.name}}</title>

        <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
        <link
        rel="stylesheet"
        href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
        type="text/css"
        />

        <link href="{% static 'maps/css/go.css' %}" rel="stylesheet">
    {% endblock %}
     
    {% block content %}
        <h1>¡Estamos muy contentos de que visites {{point.name}}!</h1>

        <div style="display: none;">
            <span id="latitude">{{point.latitude}}</span>
            <span id="longitude">{{point.longitude}}</span>
            <span id="user_latitude">{{request.user.latitude}}</span>
            <span id="user_longitude">{{request.user.longitude}}</span>
        </div>

        <div id='grid'>
            <div id="map"></div>

            <div id='code'>
                <h2>Como conseguir puntos</h2>
                <ol id="ol">
                    <li id='first_li'> Ve a {{point.name}}<i class="fas fa-map-signs"></i></li>
                    <li id='second_li'> Ayuda a los demás<i class="fas fa-hands-helping"></i></li>
                    <li id='third_li'> Pide un código<i class="fas fa-file-alt" id='last_icon'></i></li>
                </ol>  
                <h3>4. Ingresa el código</h3>
                        
                <form action="" method="POST"> {% csrf_token %} 
                    {{form.first}}
                    <span>-</span>
                    {{form.second}}
                    <span>-</span>
                    {{form.third}}

                    <a class='error' href="{% url 'login' %}?next={{ request.path }} ">{{login_error}}</a>
                    <p class='error' >{{form.frist.errors}} {{form.second.errors}} {{form.third.errors}} {{error}}</p>
                </form>
            </div>
        
            <div id='recomendations'>
                <p>
                    Si no haz ingresado, por favor hazlo para poder ganar puntos así como para poder obtener automáticamente el origen de la ruta. 
                    Considera que vas ahí para ayuda no a obtener puntos. 
                    La organización puede reportarte y quitarte la cuenta si no obedeces las reglas del lugar o 
                    si vas con otras intenciones distintas a ayudar, por favor, se amable.
                </p>
                <i class="fas fa-route"></i>
            </div>
        </div>


        <script src="{% static 'maps/javascript/go.js' %}"></script>
    {% endblock %}
  