{% extends 'maps/nav.html' %}

{% load static %}
{% load cache %}
  
{% block head %}
    <title>{{point.name}} | Small Actions</title>
    <script src="{% static 'control/javascript/mapbox-gl.js' %}"></script>
    <link href="{% static 'control/css/mapbox-gl.css' %}" rel='stylesheet' />

    <link href="{% static 'maps/css/info.css' %}" rel="stylesheet">
{% endblock %}
    
{% block content %}
    <div id="grid_all">
        <div id="all_info">
            <h1>{{point.name}}</h1>
            <div id="map_container">
                <span id="longitude">{{point.longitude}}</span>
                <span id="latitude">{{point.latitude}}</span>
                <div id="map"></div>
                <p>{{point.short_description}}</p>
            </div>
            <div id="go">
                <a href="{% url 'go' point.uuid %}">
                    <i class="fas fa-circle"></i>
                    <h4>¡Ir ahí!</h4>
                </a>
                <h4 id="category">{{point.category.name}}</h4>
            </div>
            <div id="recomedations">
                <p>{{point.recomedations}}</p>
            </div>
        </div>
        <div id="organization_info"><a href="{% url 'org' point.organization.id %}">
            <h3>{{point.organization.name}}</h3>
            <div>
                <i class="fas fa-circle" id="frist"></i>
                <img src="{{point.organization.circular_icon.url}}" alt="circular_icon">
            </div>
            <div id="org_info">   
                <p id="org_descrp">{{point.organization.short_description}}</p>
                <p id="org_quote">“{{point.organization.quote}}”</p>
            </div>

        </a></div>
    </div>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- New -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-8560763406435984"
        data-ad-slot="1401140951"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    {% cache 500 infoimg %}
    <div id="images">
        {% for photo in point.photos.all %}
            <img src="{{photo.photo.url}}" class="slice" alt="slice" width="1920" height="400">
        {% endfor %}
        {% for photo in point.photos.all %}
            <img src="{{photo.photo.url}}" class="slice" alt="slice" width="1920" height="400">
        {% endfor %}
    </div> 
    {% endcache %}

    <div id="comments">
        {% if request.user.is_authenticated %}
            <form method="POST" action="{% url 'info' point.uuid %}#comments"> {% csrf_token %}
                {{form.comment}}
                <i class="far fa-paper-plane" id="send_icon"></i>
                {{form.comment.errors}}
            </form>
        {% endif %}

        <div id="for_flex">
            {% for comment in comments %}
            <div class="comment">
                {% if comment.user.photo %}
                    <a href="{% url 'another' comment.user.username %}"><img src="{{comment.user.photo.url}}" alt="{{comment.user.username}}" width="300" height="300"></a>
                {% else %}
                    <a href="{% url 'another' comment.user.username %}"><img src="{% static 'maps/images/logo_small_icon_only_inverted.png' %}" alt="{{comment.user.username}}" width="300" height="300"></a> 
                {% endif %}
    
                <div class="comment_comment">
                    <div>
                        <h6>{{comment.user.username}}</h6>
                        <h5>{{comment.date | date:"d/m/Y"}}</h5>
                    </div>
                    <p>{{comment.comment}}</p>
                </div>
    
    
                <!-- {% for response in comment.responses.all %}
                    <div class="response">
                        <h6>{{response.user.username}}</h6>
                        <p>{{response.comment}}</p>
                    </div>
                {% endfor %} -->
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'maps/javascript/slicer.js' %}"></script>
    <script src="{% static 'maps/javascript/singleMap.js' %}"></script>
{% endblock %}
