{% extends 'maps/nav.html' %}
{% load static %}
{% block head %}
    <title>SBuscar Lugares | Small Actions</title>

    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <link href="{% static 'maps/css/points.css' %}" rel="stylesheet">
{% endblock %}
    
{% block content %}
    <div id="grid">
        <div id="react"></div>
        <div id="info">
            <p>Para empezar a buscar ingresa un término en la barra, los resultados aparecerán debajo. 
                Puedes describir las cosas, no es necesario que sea el titulo ya que busca además por descripción y recomendaciones. 
                Si estás buscando una organización o categoría, lo lamento, este no es tu sitio. 
                ¡Y oye!, tienes un gran corazón, gracias por ayudar.</p>
            <div>
                <img src="{% static 'maps/images/logo_small_icon_only.png' %}" alt="logo_down">
            </div>
        </div>
    </div>

    {% csrf_token %}
    <script src="{% static 'maps/javascript/reactPoints.js' %}" type="text/babel"></script>
{% endblock %}
  