<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Search Help Points</title>

        <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
        <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

        <link href="{% static 'maps/css/points.css' %}" rel="stylesheet">
    </head>
    {% include 'maps/nav.html' %}
    <body>
        <div id="react"></div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit condimentum habitasse eros ac proin suspendisse, luctus himenaeos vitae ad accumsan maecenas volutpat quis inceptos mattis suscipit. Commodo vehicula laoreet elementum dictumst dictum fringilla, magnis eleifend faucibus eu. eleifend faucibus eu. eleifend faucibus eu.</p>
            <div>
                <img src="{% static 'maps/images/logo_small_icon_only.png' %}" alt="logo_down">
            </div>
        </div>

        {% csrf_token %}
        <script src="{% static 'maps/javascript/reactPoints.js' %}" type="text/babel"></script>
    </body>
</html>