{% extends 'maps/nav.html' %}
{% load static %}

{% block head %}
    <title>Volverte una organización</title>
    <link href="{% static 'info/css/become.css' %}" rel="stylesheet">
{% endblock %}
     
{% block content %}
    <div>
        <h1>Volverte una</h1>
        <h2>Organización</h2>
    </div>
    <div id="benef_container">
        <h3 class="benef"><i class="fas fa-check-circle"></i> Consigue Aportantes</h3>
        <h4 class="benef"><i class="fas fa-check-circle"></i> Publicítate Gratis</h4>
        <h5 class="benef"><i class="fas fa-check-circle"></i> Encuentra personas</h5>
    </div>
    <div id='info_img_container'>
        <img src="{% static 'info/images/fuerza.jpg' %}" alt="fuerza">
        <div id="crecer">
            <h5>Haz Crecer Tu Organización</h5>
            <p>
                Small Actions te brinda una oportunidad única de llegar a más personas a través de nuestra de nuestra plataforma. 
                Sin costo alguno, te brindamos la posibilidad de administrar todos los lugares en donde quieras que las personas ayuden. 
                Haz realidad tus sueños de ayudar desde un enfoque virtual.
            </p>
        </div>
        <div id='agrega'>
            <h6>Agrega Todos los Puntos de Ayuda</h6>
            <p>
                Agrega todos los lugares donde necesitas personas ayudando, ya sean sitios de donación de todo tipo 
                (agua, ropa, alimentos, concentrado, dinero, útiles escolares, sangre, juguetes, elementos médicos, etc) 
                o lugares para voluntarios, tanto temporales como para afiliación prolongada. Los voluntariados tambien pueden ser de cualquier tipo. 
                (Social, ambiental, comunitario, cultural, deportivo, educativo, internacional, de protección civil, sanitario, etc)
            </p>
        </div>
        <img src="{% static 'info/images/manos.jpg' %}" alt="manos" id="agrega_img">
    </div>
    <div id='form'>
        <form enctype="multipart/form-data" method="POST"> {% csrf_token %}
            <h6 id="preparado">¿Preparado para ser una organización?</h6>
            <div>
                {{form.name}}
                {{form.name.errors}}
            </div>
            <div class="rigth_input">
                {{form.contact_name}}
                <i class="fas fa-question-circle"></i>
                {{form.contact_name.errors}}
            </div>
            <div>
                {{form.phone_number}}
                {{form.phone_number.errors}}
            </div>
            <div class="rigth_input">
                {{form.contact_phone_number}}
                <i class="fas fa-question-circle"></i>
                {{form.contact_phone_number.errors}}
            </div>
            <div id="short_description">
                {{form.short_description}}
                {{form.short_description.errors}}
            </div>
            <div id="quote">
                {{form.quote}}
                <i class="fas fa-question-circle"></i>
                {{form.quote.errors}}
            </div>
            <div class="no_backgroud">
                <label>Logo <i class="fas fa-question-circle"></i></label>
                {{form.image}}
                {{form.quote.image}}
            </div>
            <div class="rigth_input no_backgroud">
                <label>Logo Circular <i class="fas fa-question-circle"></i></label>
                {{form.image}}
                {{form.quote.image}}
            </div>
            <input type="submit" value="Enviar" id="enviar">
            <h6 id="message">{{message}}</h6>
        </form>
    </div>
{% endblock %}