{% extends 'maps/nav.html' %}
{% load static %}

{% block head %}
    <title>Organización: {{org.name}}</title>

    <script src="{% static 'control/javascript/mapbox-gl.js' %}"></script>
    <link href="{% static 'control/css/mapbox-gl.css' %}" rel='stylesheet' />

    <link href="{% static 'info/css/org.css' %}" rel="stylesheet">
{% endblock %}
     
{% block content %}
    <div id="title">
        <div id="small_rectangle"></div>
        <img src="{{org.image.url}}" alt="logo" width="960" height="90">
        <div id="circle_small"></div>
        <div id="big_rectangle"></div>
    </div>
    <div id="for_flex">
        <div class="flex_info"><a href="https://api.whatsapp.com/send?phone={{org.phone_number}}" target="_blank" rel="noopener">
            <div class="info_info">
                <div id="what_glass" class="glass_info"></div>
                <i class="fab fa-whatsapp"></i>
            </div>
            <h3>{{org.phone_number}}</h3>
        </a></div>
        <div class="flex_info"><a href="mailto:{{org.user.email}}" target="_blank">
            <div class="info_info">
                <div id="email_glass" class="glass_info"></div>
                <i class="fas fa-envelope-open-text"></i>
            </div>
            <h4>{{org.user.email}}</h4>
        </a></div>
        <div class="flex_info"><a href="#map">
            <div class="info_info">
                <div class="glass_info" id="place_glass"></div>
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <h5>{{places}} lugar(es)</h5>
        </a></div>
    </div>
    <div>
        <div id="description">
            <img src="{{org.circular_icon.url}}" width="142" height="142" alt="circular">
            <p>{{org.short_description}}</p>
        </div>
        <div id="circular_glass"></div>
    </div>
    <h6 id="quote">“{{org.quote}}”</h6>
    <div id="map"></div>
    <div id="map_glass"></div>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display:flex; justify-content: center; margin-top: 3vh;"
        data-ad-format="fluid"
        data-ad-layout-key="-g8+3o+6v-9h-52"
        data-ad-client="ca-pub-8560763406435984"
        data-ad-slot="2500484104"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
    <div id="publications">
        {% for publication in org.instagram_photos.all %}
            {% if publication.url != "" %}
                <iframe width="320" height="500" src="{{publication.url}}embed" frameborder="0"></iframe>
            {% endif %}
        {% endfor %}
    </div>

    <span id="org_id" style="display: none;">{{org.id}}</span>
    {% csrf_token %}
    <script src="{% static 'info/javascript/org.js' %}"></script>
{% endblock %} 