{% extends 'maps/nav.html' %}
{% load static %}

{% block head %}
    <title>Organizaciones | Small Actions</title>
    <link href="{% static 'info/css/search.css' %}" rel="stylesheet">

    <script src="{% static 'control/javascript/react.production.min.js' %}" ></script>
    <script src="{% static 'control/javascript/react-dom.production.min.js' %}" ></script>
{% endblock %}

{% block content %}
    <div id="grid_titles">
        <div id="titles">
            <h1>Organizaciones</h1>
            <h2>Creadoras de ayudas</h2>
        </div>
        <div id="image"></div>
    </div>
    {% csrf_token %}
    <div id="react"></div>
    <script src="{% static 'info/javascript/reactOrganizations.js' %}"></script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <ins class="adsbygoogle"
        style="display:flex; justify-content: center;"
        data-ad-format="fluid"
        data-ad-layout-key="-g8+3o+6v-9h-52"
        data-ad-client="ca-pub-8560763406435984"
        data-ad-slot="2500484104"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <div id="org">
        <h3>Organizaciones que trabajan con Small Actions</h3>
        <div id="photos">
            {% for photo in photos %}
                <img src="{{photo.image.url}}" alt="org" width="350" height="215">
            {% endfor %}
            {% for photo in photos %}
                <img src="{{photo.image.url}}" alt="org" width="350" height="215">
            {% endfor %}
        </div>
    </div>
    <div id="last_info">
        <div>
            <h4>¿Que son las Organizaciones?</h4>
            <p>
                Las organizaciones son fundaciones, gobiernos o empresas que participan de 
                Small Actions colocando y administrando los lugares donde puedes ir a ayudar. 
                Para volverte una organización debes ir a la sección “Volverte una organización” 
                es completamente gratis, sin embargo, deberás pasar ciertos controles.
            </p>
        </div>
        <div>
            <h5>¿Cual es su rol en la página?</h5>
            <p>Las organizaciones tienen distintos roles dentro de la página, mencionaremos solo algunos, 
                pero están en constante cambio junto con las políticas de la página. 
                Las organizaciones pueden y deben administrar su propio perfil y sus lugares, banear perfiles con justificación, 
                sugerir cambios a la página, ser presentes tecnológicamente en su lugar y tener una buena atención al voluntario.</p>
        </div>
    </div>
{% endblock %} 