{% extends 'maps/nav.html' %}
{% load static %}

{% block head %}
    <title>Organizations | Small Actions</title>
    <link href="{% static 'info/css/search.css' %}" rel="stylesheet">

    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{% endblock %}

{% block content %}
    <div id="grid_titles">
        <div id="titles">
            <h1>Organizaciones</h1>
            <h2>Creadoras de ayudas</h2>
        </div>
        <div id="image"></div>
    </div>
    {% csrf_token %}
    <div id="react"></div>
    <script src="{% static 'info/javascript/reactOrganizations.js' %}" type='text/babel'></script>

    <div id="org">
        <h3>Organizaciones que trabajan con Small Actions</h3>
        <div id="photos">
            {% for photo in photos %}
                <img src="{{photo.image.url}}">
            {% endfor %}
        </div>
    </div>
{% endblock %} 