{% extends 'maps/nav.html' %}
{% load static %}

{% block head %}
    <title>Términos y Condiciones | Small Actions</title>
    <style>
        h1 {
            font-size: 50px;
            text-align: center;
            margin: 4vh 0;
        }

        h3 {
            width: 80vw;
            margin-left: 10vw;
            font-size: 25px;
            margin-bottom: 2vh;
        }

        p, ul, ol {
            width: 80vw;
            margin-left: 10vw;
            margin-bottom: 2vh;
            text-align: justify;
        }
    </style>
    <meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <h1>Términos y Condiciones</h1>
    <h3>Información Relevante</h3>
    <p>
        Esta página web es propiedad y está operado por Manuel Rosero con tarjeta de identidad 1014860178. 
        Estos Términos establecen los términos y condiciones bajo los cuales tu puedes usar nuestra página web y servicios ofrecidos por nosotros. 
        Esta página web ofrece a los visitantes servicio de busqueda de lugares filantropicos. 
        Al acceder o usar la página web de nuestro servicio, usted aprueba que haya leído, entendido y aceptado estar sujeto a estos Términos.
    </p>
    <h3>Uso No Autorizado</h3>
    <p>
        Para usar nuestro página web y / o recibir nuestros servicios, debes tener al menos 14 años de edad, 
        o la mayoría de edad legal en tu jurisdicción, y poseer la autoridad legal, el derecho y la libertad para participar 
        en estos Términos como un acuerdo vinculante. No tienes permitido utilizar esta página web y / o recibir servicios si  
        hacerlo está prohibido en tu país o en virtud de cualquier ley o regulación aplicable a tu caso.
    </p>
    <h3>Retención del derecho a cambiar de oferta</h3>
    <p>
        Podemos, sin aviso previo, cambiar los servicios; dejar de proporcionar los servicios o cualquier característica 
        de los servicios que ofrecemos; o crear límites para los servicios. Podemos  suspender de manera permanente o 
        temporal el acceso a los servicios sin previo aviso ni responsabilidad por cualquier motivo, o sin ningún motivo.
    </p>
    <h3>Posesión de propiedad intelectual, derechos de autor y logos.</h3>
    <p>
        El Servicio y todos los materiales incluidos o transferidos, incluyendo, sin limitación, software, imágenes, texto, 
        gráficos, logotipos, patentes, marcas registradas, marcas de servicio, derechos de autor, fotografías, audio, videos, 
        música y todos los Derechos de Propiedad Intelectual relacionados con ellos, son la propiedad exclusiva de 
        Manuel Rosero. Salvo que se indique explícitamente en este documento, no se considerará que nada en estos 
        Términos crea una licencia en o bajo ninguno de dichos Derechos de Propiedad Intelectual, y tu aceptas no vender, licenciar, alquilar, 
        modificar, distribuir, copiar, reproducir, transmitir, exhibir públicamente, realizar públicamente, publicar, adaptar, editar o crear 
        trabajos derivados de los mismos.
    </p>
    <h3>Derecho a suspender o cancelar la cuenta de usuario</h3>
    <p>
        Podemos terminar o suspender de manera permanente o temporal tu acceso al servicio sin previo aviso y responsabilidad por cualquier razón, 
        incluso si a nuestra sola determinación tu violas alguna disposición de estos Términos o cualquier ley o regulación aplicable. 
        Puedes descontinuar el uso y solicitar cancelar tu cuenta y / o cualquier servicio en cualquier momento. Sin perjuicio de lo contrario 
        en lo que antecede, con respecto a las suscripciones renovadas automáticamente a los servicios pagados, dichas suscripciones se suspenderán 
        solo al vencimiento del período correspondiente por el que ya has realizado el pago.
    </p>
    <h3>Indemnización</h3>
    <p>
        Usted acuerda indemnizar y eximir de responsabilidad a Manuel Rosero de cualquier demanda, pérdida, responsabilidad, 
        reclamación o gasto (incluidos los honorarios de abogados) que terceros realicen en tu contra como consecuencia de, o derivado de, 
        o en relación con tu uso de la página web o cualquiera de los servicios ofrecidos en la página web
    </p>
    <h3>Derecho a cambiar y modificar los Términos</h3>
    <p>
        Nos reservamos el derecho de modificar estos términos de vez en cuando a nuestra entera discreción. 
        Por lo tanto, debes revisar estas páginas periódicamente. Cuando cambiemos los Términos de una manera 
        material, te notificaremos que se han realizado cambios importantes en los Términos. El uso continuado de la 
        página web o nuestro servicio después de dicho cambio constituye tu aceptación de los nuevos Términos. 
        Si no aceptas alguno de estos términos o cualquier versión futura de los Términos, no uses o accedas (o continúes accediendo) 
        a la página web o al servicio.
    </p>
    <h3>Emails de promociones y contenido</h3>
    <p>
        Acepta recibir de vez en cuando nuestros mensajes y materiales de promoción, por correo postal, correo electrónico o cualquier otro 
        formulario de contacto que nos proporciones (incluido tu número de teléfono para llamadas o mensajes de texto). Si no deseas recibir 
        dichos materiales o avisos de promociones, simplemente avísanos en cualquier momento.
    </p>
    <h3>Preferencia de ley y resolución de disputas</h3>
    <p>
        Estos Términos, los derechos y recursos provistos aquí, y todos y cada uno de los reclamos y disputas relacionados con este y / o los servicios, 
        se regirán, interpretarán y aplicarán en todos los aspectos única y exclusivamente de conformidad con las leyes sustantivas internas de 
        Colombia, sin respeto a sus principios de conflicto de leyes. Todos los reclamos y disputas se presentarán y usted acepta 
        que sean decididos exclusivamente por un tribunal de jurisdicción competente ubicada en Pasto, Nariño. 
        La aplicación de la Convención de Contratos de las Naciones Unidas para la Venta Internacional de Bienes queda expresamente excluida.
    </p>
    <h3>Atención al cliente e información de contacto</h3>
    <ul>
        <li>Numero de Telefono: +573023986488</li>
        <li>Correo Electrónico Personal: manuel.andres66@gmail.com</li>
        <li>Correo Electrónico Comercial: password@small-actions.com</li>
    </ul>
    <h1 id="priv">Política de privacidad</h1>
    <h3>Información Recoletada</h3>
    <p>
        Recibimos, recopilamos y almacenamos cualquier información que ingrese en nuestro sitio web o nos proporciones de otra manera. 
        Además, recogemos la dirección de protocolo de Internet (IP) utilizada para conectar tu computadora a Internet; datos de inicio 
        de sesión, dirección de correo electrónico, contraseña, ubicacion (aunque solo puede ser observada por el usario propetario y el administrador de la pagina), ,
        lugares visitados, ubicacion en tiempo real, equipo, fotos de perfil, información de la computadora y la conexión. 
        Podemos usar herramientas de software para medir y recopilar información de la sesión, incluidos los tiempos de respuesta de la 
        página, la duración de las visitas a determinadas páginas, la información de interacción de la página y los métodos utilizados 
        para navegar fuera de la página. También recopilamos información de identificación personal (incluido nombres, correo electrónico, 
        contraseña, comunicaciones), detalles de pago (incluida la información de la tarjeta de crédito), comentarios, sugerencias, reseñas 
        de productos, recomendaciones y perfil personal.
    </p>
    <h3>Razones de recopilacion</h3>
    <ol>
        <li>Para proporcionar y operar los servicios</li>
        <li>Para proporcionar a nuestros usuarios asistencia continua al cliente y soporte técnico</li>
        <li>Para poder contactar a nuestros visitantes y usuarios con avisos generales y personalizados relacionados con el servicio y mensajes promocionales</li>
        <li>Para crear datos estadísticos agregados y otra información no personal agregada o deducida, que nosotros o nuestros socios comerciales podamos utilizar 
            para proporcionar y mejorar nuestros servicios respectivos</li>
        <li>Para cumplir con las leyes y regulaciones aplicables.</li>
    </ol>
    <h3>Almacenamiento, uso, compartimiento y divulgacion la información personal de los visitantes</h3>
    <p>
        Small Actions esta registrada baja el dominio de NameCheap small-actions.com y esta alojada en el servicio de 
        Amazon Web Services en la modalidad elastic bean la cual implica un desconocimiento del funcionamiento interno de la pagina.
        Los datos pueden almacenarse en base de datos de Amazon Web Services tanto como de Elastic Bean como de S3 para archivos fotograficos,
        ademas de que toda esta informacion puede ser copiada, editada y replicada en computadoras personales o servidores locales de Small Actions.
    </p>
    <h3>Comunicaciones</h3>
    <p>
        Podemos comunicarnos contigo para notificarte sobre tu cuenta, para solucionar problemas con tu cuenta, resolver una disputa, 
        cobrar tarifas o dinero adeudado, para sondear tus opiniones a través de encuestas o cuestionarios, para enviar actualizaciones 
        sobre nuestra empresa, o cuando sea necesario para contactarte para hacer cumplir nuestro Acuerdo de usuario, las leyes nacionales 
        aplicables y cualquier acuerdo que podamos tener contigo. 
        A estos efectos, podemos comunicarnos contigo por correo electrónico, teléfono, mensajes de texto y correo postal.
    </p>
    <h3>Rechazo de la política</h3>
    <p>
        Si no deseas que procesemos tus datos, contáctanos a password@small-actions.com
    </p>
    <h3>Actualizaciones de política de privacidad</h3>
    <p>
        Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento, por lo tanto, 
        revísala con frecuencia. Los cambios y aclaraciones tendrán efecto inmediatamente después de su publicación en la página web. 
        Si realizamos cambios sustanciales a esta política, te notificaremos que se ha actualizado, para que sepas qué información 
        recopilamos, cómo la usamos y en qué circunstancias, si corresponde, usamos o divulgamos la información.
    </p>
    <h3>Preguntas y tu información de contacto</h3>
    <p>
        Si deseas: acceder, corregir, modificar o eliminar cualquier información personal que tengamos sobre ti, estás invitado a contactarnos en 
        password@small-actions.com
    </p>
{% endblock %}